@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

/* utility classes for light theme */
.whiteBg {
  background: white !important;
}
.darkText {
  color: black !important;
}
.whiteText {
  color: white !important;
}
.darkBg {
  background: #18181b !important;
}
.grayBg {
  background: #0000008a !important;
}
.darkBottomBorder {
  border-bottom: 1px solid #05040466 !important;
}
.darkBorder {
  border: 1px solid #05040466 !important;
}

.convertDark {
  filter: invert(1) brightness(0) grayscale(1);
}
.popupLightBox {
  background: white !important;
  color: #272525 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #d6d6d6 !important;
}
.popupLightInput {
  color: #130f0f94 !important;
  background: #dfdfe4 !important;
}
.lightShadow {
  box-shadow: 0px 10px 10px -5px #0000000a !important;
  box-shadow: 0px 20px 25px -5px #0000001a !important;
  border: 2px solid #00000029 !important;
}
/* .lightBorder {
  border: 1px solid #d6d6d6 !important;
} */
.lightInput {
  border: 1px solid #d6d6d6 !important;
  background-color: white !important;
  color: #767676d1 !important;
}
.lightGrayBg {
  background: #575759 !important;
}
.logoutColor {
  color: #ffa54c !important;
}
/* .grayInputBg {
  background: #777777 !important;
  box-shadow: 0px 4px 6.3px 0px #00000040;
  border-radius: 4px;
  border: none !important;
  color: white !important;
} */

.convertBlue {
  filter: invert(31%) sepia(97%) saturate(3185%) hue-rotate(169deg)
    brightness(94%) contrast(101%);
}

.rotateArrow {
  transform: rotate(180deg);
}
